<main>

    <section class="form-section">
        <img src="/assets/svg/logo.svg" alt="Logo do site">
        <h2>{{ title }}</h2>

        <!-- form -->
        <ng-content></ng-content>
        <!-- form -->

        <div class="btn-wrapper">

            <button class="btn-primary">{{ primaryBtnText }}</button>

            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>

            <button class="btn-secondary">{{ secondaryBtnText }}</button>

        </div>
    </section>

    <section class="main-section">
        <h1>You should, MoveIt!</h1>
        <img src="/assets/svg/main-illustration.svg" alt="Skate boy">
    </section>

</main>